{
  "presets": [
    "vue",
    "@babel/flow",
    ["@babel/env", {
      "modules": false,
      "forceAllTransforms": true,
      "useBuiltIns": "entry"
    }]
  ],

  "plugins": [
    "@babel/transform-destructuring",
    "@babel/syntax-dynamic-import",
    [
      "@babel/proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/plugin-transform-arrow-functions",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ],
    [
      "@babel/transform-regenerator",
      {
        "async": false
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "loose": true
      }
    ],
    "lodash"
  ]
}
