@charset "utf-8";

@import '~@/assets/stylesheets/variables';
@import '~bootstrap/scss/bootstrap';
@import '~@/assets/stylesheets/mixins';

html {
  font-size: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  min-width: 320px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint);

  @include media-breakpoint-up($breakpoint) {
    .col#{$infix}-auto {
      @include col-auto;
    }

    .col#{$infix}-shrink {
      @include col-shrink;
    }

    .col#{$infix}-grow {
      @include col-grow;
    }

    .col#{$infix}-container {
      @include col-container;
    }

    .row#{$infix}-auto {
      @include row-auto;
    }

    .row#{$infix}-shrink {
      @include row-shrink;
    }

    .row#{$infix}-grow {
      @include row-grow;
    }

    .text#{$infix}-ellipsis {
      @include text-ellipsis;
    }
  }
}

#site-version {
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
}

.btn {
  .fa-container:not(:first-child) {
    padding-left: 1rem;
  }
}

.btn-tabc-primary {
  @include button-variant($tabc-gold, $tabc-dark-blue);

  color: $tabc-dark-blue;
}

.form-control {
  // IE 10+
  &:-ms-input-placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  // Redo this to ensure it takes precedence.
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
}

.form-group {
  &[data-required] {
    .col-form-label::after {
      color: $danger;
      content: '*';
      margin-left: 0.25rem;
    }
  }
}

.table {
  td,
  th {
    max-width: 0;
    vertical-align: middle;
  }
}

iframe {
  border: 1px solid $tabc-gray;
}
