@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

//
// Color system
//

$tabc-dark-blue: #00205b;
$tabc-gold: #ffbf3f;
$tabc-red: #bf0d3e;
$tabc-gray: #bbbcbc;
$tabc-mustard: #9a7611;
$tabc-light-blue: #147bd1;

$danger: $tabc-red;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;
$enable-gradients: true;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;

// Forms

$input-placeholder-color: $gray-500;
