@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

//
// Color system
//

$tabc-header-background-color: #5cc5c8;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;
$enable-gradients: true;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
